@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Ropa+Sans&display=swap');

html,
body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

